@model PagedList.IPagedList<Models_OnlineShop.EF.Tag>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Tag";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    Nhãn Sản Phẩm
    }


<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Nhãn
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                @using (Html.BeginForm("Index", "Tag", FormMethod.Get))
                {
                    <div class="row form-group">
                        <div class="col-lg-12">
                            <div class="col-md-4">
                                <input type="text" value="@ViewBag.searchString" class="form-control" name="searchString" />
                            </div>
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-success">Tìm kiếm</button>
                                <a class="btn btn-primary" href="/Admin/Tag/Create">Thêm</a>
                            </div>


                        </div>
                    </div>
                }

                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>

                                <th>Tên</th>
                                
                                <th>#</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr id="row_@item.ID">

                                    <td>@item.Name</td>
                                
                                  
                                    <td>
                                        <a href="/Admin/Tag/Edit/@item.ID">Sửa</a> |
                                        @Ajax.ActionLink("Xóa", "Delete", new { @id = item.ID }, new AjaxOptions
                                   {
                                       Confirm = "Bạn muốn xóa bản ghi này?",
                                       OnComplete = "$('#row_" + @item.ID + "').remove()",
                                       //remove dòng chứa id này trong view
                                       HttpMethod = "Delete"

                                   })


                                    </td>
                                </tr>

                            }


                        </tbody>
                    </table>
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.searchString }))
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</div>
