
@model PagedList.IPagedList<Models_OnlineShop.EF.Slide>
@using PagedList.Mvc
@{
    ViewBag.Title = "Slide";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section header{
    Danh sách Slide
}

@section jsFooter{
    <script src="~/Assets/admin/js/controller/statuscontroller.js?t=1491313943549"></script>

}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Danh sách Slide
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                @using (Html.BeginForm("Index", "Slide", FormMethod.Get))
                {
                    <div class="row form-group">
                        <div class="col-lg-12">
                            <div class="col-md-4">
                                <input type="text" value="@ViewBag.searchString" class="form-control" name="searchString" />
                            </div>
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-success">Tìm kiếm</button>
                                <a class="btn btn-primary" href="/Admin/Slide/Create">Thêm</a>
                            </div>


                        </div>
                    </div>
                }

                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>

                                <th>Ảnh</th>
                                <th>Mô tả</th>
                                <th>Đường dẫn</th>
                                <th>Trạng thái</th>
                                <th>#</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr id="row_@item.ID">

                           
                                    <td><img src="@item.Image" width="100" /></td>
                                    <td>@Html.Raw(item.Description)</td>
                                    <td>@item.Link</td>
                                    <td>
                                        <a href="#" class="btn-active-slide" data-id="@item.ID">@(item.Status?"Kích hoạt":"Khóa")</a>
                                    </td>
                                    <td>
                                        <a href="/Admin/Slide/Edit/@item.ID">Sửa</a> |
                                        @Ajax.ActionLink("Xóa", "Delete", new { @id = item.ID }, new AjaxOptions
                                   {
                                       Confirm = "Bạn muốn xóa bản ghi này?",
                                       OnComplete = "$('#row_" + @item.ID + "').remove()",
                                       //remove dòng chứa id này trong view
                                       HttpMethod = "Delete"

                                   })


                                    </td>
                                </tr>

                            }


                        </tbody>
                    </table>
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.searchString }))
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</div>
